
.header {
	margin: auto;
	width: fit-content ;
}
#all {
  	display: grid;
	grid-template-columns: 1fr  ;
	grid-template-rows: 1fr   ;
	grid-row-gap: 40px;
	vertical-align: center;
}
#img1 {
	margin: 20px auto auto 20px;
  	border-radius: 50%;
  	width: 100px;
  	display: block;
    margin-left: auto;
    margin-right: auto ;
    
}
#imgexp {
	margin: 20px auto auto 20px;
  	border-radius: 50%;
  	width: 100px;
  	display: block;
    margin-left: auto;
    margin-right: auto ;
}
#volunteer{
	margin: 20px auto auto 20px;
  	border-radius: 50%;
  	width: 100px;
  	display: block;
    margin-left: auto;
    margin-right: auto ;
}
.imgs1:hover {
	-webkit-transform: rotate(360deg); /* rotation de l'image */
 	transform: rotate(360deg);
}
.divs {
	margin: 0px auto;
	background-color: #ffcc66;
	border-radius: 30px ;
	font-size: 15px;
	width: 600px;
	height: 250px;
	vertical-align: center ;
}
.info {
	text-transform: uppercase;
	text-shadow:7px 6px 1px #CCCCCC;
	text-align: center;
	text-transform: uppercase;

}
#enter {
	
	border-radius: 50%;
	width: 65px;
	margin-left: 55px;
}
#rbk {
	margin: 20px auto auto 20px;
  	border-radius: 50%;
  	width: 100px;
  	height: 100px;
  	display: block;
    margin-left: auto;
    margin-right: auto ;
}
h4 {
	color: black;
	font-size: 20px;
}
#btcont3:hover{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#divnext {
	margin: 20px auto auto 20px;
  	border-radius: 50%;
  	width: 100px;
  	display: block;
    margin-left: auto;
    margin-right: auto 
}
#pass {

	width: 150px;
    align-items: center;
}
#whit {
	background-color: white;
}
.imgexp:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  
}
.bgFont li{
font-size:15px;
}
#work {
	font-size: large;
    text-align: center;
}
#vol1  {

  	border-radius: 50%;
  	width: 90px;
  	

  
}
#vol2 {

	border-radius: 50%;
  	width: 70px;
  	 

}
#vol3 {
	border-radius: 50%;
  	width: 70px;
  	
}
